<center>
  <h1>Leaderboard</h1>
  <% @users.each_with_index do |user, index| %>
    <% if user.avatar_url %>
      <%= image_tag user.avatar_url %>
    <% end %>
    <p><%= index + 1 %>. <%= user.nickname %></p>
    <p><b>Skill</b>: <%= user.skill %></p>
    <p><b>Wins</b>: <%= user.wins %></p>
    <p><b>Losses</b>: <%= user.losses %></p>
  <% end %>
</center>
