<!DOCTYPE html>
<html>
<head>
  <title>DotA League</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'dota2.jpg' %>
  <%= action_cable_meta_tag %>
  <script type="text/JavaScript">
<!--
  // function timedRefresh(timeoutPeriod) {
  //     setTimeout("location.reload(true);",timeoutPeriod);
  // }
//   -->
</script>
</head>
<!--
<body onload="JavaScript:timedRefresh(5000);"> -->
<body>

<%= render 'layouts/header' %>

<%= render 'shared/alert_msg' %>

<div class="well">
  <div class="row">
    <div id="open-games">
      <%= render 'layouts/game' %>
    </div>
    <%= render 'layouts/in_progress' %>
    <%= render 'layouts/users' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
