<!DOCTYPE html>
<html>
<head>
  <title>DotA League</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'dota2.jpg' %>
</head>
<body>

<%= render 'layouts/header' %>

<%= render 'shared/alert_msg' %>

<div class="well">
  <div class="row">
    <%= render 'layouts/game' %>
    <%= render 'layouts/in_progress' %>
    <%= render 'layouts/users' %>
  </div>
</div>

</body>
</html>
